@model HRMS.ViewModel.DepartmentViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="../../html/assets/libs/jquery/dist/jquery.min.js"></script>
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-6">

                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.DID)

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Department Details</h4>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DName, new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.DName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="border-top">
                            <div class="card-body">
                                <button type="submit" class="btn btn-success">Save</button>
                                <button type="submit" class="btn btn-primary">Reset</button>
                                <a href="~/Department/Index" class="btn btn-danger"> Cancel </a>

                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
        }
       
    </div>
</div>

