<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Human Resource Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .menu1:hover {
            background-color: skyblue;
            color: #ff6a00;
        }

        .menu1 a:hover {
            color: #ff6a00;
        }


        .menu1:visited {
            color: pink;
        }

        .menu1 {
            border-bottom: solid 2px white;
        }

            .menu1 a {
                color: white;
            }

        #men {
            background-color: #ff6a00;
        }

        .list-group {
            list-style: none;
        }
        
        #registerLink{
            color:blue;
        }
        #registerLink:hover{
            color:red;
        }

        #loginLink{
            color:blue;
        }
        #loginLink:hover{
            color:red;
        }

         .menus{
            color:white;
        }
    </style>

</head>
<body>
    <table style="width:100%">
        <tr>
            <td colspan="2">
                <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:white">
                    <div class=" container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a href="#" class="logo pull-left"><img src="~/Images/human1.png" class="site_logo" alt="" width="200" height="100"></a>
                            @*@Html.ActionLink("HRMS Application", "Index", "Home", null, new { @class = "navbar-brand" })*@
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav"></ul>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                    <ul class="nav nav-pills" style="background-color:#ff6a00">
                        <li class="menu1" style=" text-decoration: none; text-align: center;">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "menus" })</li>
                        <li class="menu1" style=" text-decoration: none; text-align: center;">@Html.ActionLink("Employee", "Index", "Employee", null, new { @class = "menus" })</li>
                        <li class="menu1" style=" text-decoration: none; text-align: center;">@Html.ActionLink("About", "About", "Home", null, new { @class = "menus" })</li>
                        <li class="menu1" style=" text-decoration: none; text-align: center;">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "menus" })</li>


                    </ul>
                </div>
            </td>
        </tr>
        
    </table>
       
            <div class="row">
                <div class="col-md-3" style="width: 10%;padding-top:110px;margin-left:10px;">

                    <ul class="list-group  style=" list-style-type:none;" id="men">


                        <li class="menu1" style="margin-bottom: 2px;  padding: 2px 5px; text-decoration: none; text-align: center; ">@Html.ActionLink("Employee", "Index", "Employee")</li>
                        <li class="menu1" style="margin-bottom: 2px;  padding: 2px 5px; text-decoration: none; text-align: center; ">@Html.ActionLink("Attendence", "Index", "Attendence")</li>
                        <li class="menu1" style="margin-bottom: 2px;  padding: 2px 5px; text-decoration: none; text-align: center; ">@Html.ActionLink("Benefit", "Index", "Benefit")</li>
                        <li class="menu1" style="margin-bottom: 2px;  padding: 2px 5px; text-decoration: none; text-align: center; ">@Html.ActionLink("Company", "Index", "Company")</li>
                        <li class="menu1" style="margin-bottom: 2px;  padding: 2px 5px; text-decoration: none; text-align: center; ">@Html.ActionLink("Designation", "Index", "Designation")</li>
                        <li class="menu1" style="margin-bottom: 2px;  padding: 2px 5px; text-decoration: none; text-align: center; ">@Html.ActionLink("Department", "Index", "Department")</li>
                        <li class="menu1" style="margin-bottom: 2px;  padding: 2px 5px; text-decoration: none; text-align: center; ">@Html.ActionLink("Division", "Index", "Division")</li>

                        <li class="menu1" style="margin-bottom: 2px;  padding: 2px 5px; text-decoration: none; text-align: center; ">@Html.ActionLink("Employee Type", "Index", "Employee_Type")</li>
                        <li class="menu1" style="margin-bottom: 2px;  padding: 2px 5px; text-decoration: none; text-align: center; ">@Html.ActionLink("SalaryHead ", "Index", "SalaryHead")</li>
                        <li class="menu1" style="margin-bottom: 2px;  padding: 2px 5px; text-decoration: none; text-align: center; ">@Html.ActionLink("Promotion", "Index", "Promotion")</li>
                        <li class="menu1" style="margin-bottom: 2px;  padding: 2px 5px; text-decoration: none; text-align: center; ">@Html.ActionLink("Salary History ", "Index", "SalaryHistory")</li>
                        <li class="menu1" style="margin-bottom: 2px;  padding: 2px 5px; text-decoration: none; text-align: center; ">@Html.ActionLink("Section", "Index", "Section")</li>
                        <li class="menu1" style="margin-bottom: 2px;  padding: 2px 5px; text-decoration: none; text-align: center; ">@Html.ActionLink("Transfer Info", "Index", "Transfer_Info")</li>


                    </ul>
                </div>
                <div class="col-md-9">
                    <div style="margin-top:120px;margin-left: 21px">
                        @RenderBody()
                        <hr />
                      
                    </div>
                </div>
            </div>
    <footer>
        <table style="width:100%;background-color: #ff6a00;">
            <tr>
                <td colspan="2">
                    <div class="navbar" style="background-color:white">
                        <div class=" container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <p>&copy; @DateTime.Now.Year - Human Resource Application &nbsp;</p>
                                @*<a href="#" class="logo pull-left"><img src="~/Images/human1.png" class="site_logo" alt="" width="200" height="100"></a>*@
                                @*@Html.ActionLink("HRMS Application", "Index", "Home", null, new { @class = "navbar-brand" })*@
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav"></ul>
                                <span>Designed by <span><a target="_blank" href="#">Brajesh Kumar</a> All right reserved.</span></span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

        </table>

       
    </footer>


  
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
