@model HRMS.ViewModel.SectionViewModel

@{
                /**/

                ViewBag.Title = "Edit";
                Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="../../html/assets/libs/jquery/dist/jquery.min.js"></script>
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-6">

                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.SecID)

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Section Type Details</h4>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Section_Name, new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Section_Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Section_Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="border-top">
                            <div class="card-body">
                                <button type="submit" class="btn btn-success">Save</button>
                                <button type="submit" class="btn btn-primary">Reset</button>
                                <a href="~/Section/Index" class="btn btn-danger"> Cancel </a>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        }

    </div>
</div>

@*<h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Section</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.SecID)

            <div class="form-group">
                @Html.LabelFor(model => model.Section_Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Section_Name)
                    @Html.ValidationMessageFor(model => model.Section_Name)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
