@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Wellcome to Human Resource Management</h2>
</div>

<table style="width:100%">
    <tr>
        <td>
            <img src="~/Images/preview.jpeg" width="400" />
            @*<ul class="">
                    <li>@Html.ActionLink("Attendence", "Index", "Attendence")</li>
                    <li>@Html.ActionLink("SalaryHistory", "Index", "SalaryHistory")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>*@
        </td>
        <td>
            <h4 style="text-align:justify;">
                HRMS (Human Resource Management System) is a combination of systems and processes that connect human resource management and information technology through HR software. A HRMS may help to revolutionize a workplace.

                The automation of repetitive and time consuming tasks associated with human resources management frees up some of the companies most valuable employees and allows the focus to shift to culture, retention, and other highly impactful areas.
            </h4>
        </td>
    </tr>
    <tr style="padding-top:20px;">
        <td>
            <h2>A Modern Approach to HR</h2> 
            <h4 style="text-align:justify;">
                Selecting a HRMS to handle HR activities is a trademark of the modern company, there are few successful
                companies in any industry that do not have some sort of automation in place for HR tasks at this juncture.
                Mobile accessibility has further worked to transform the landscape of HR, putting information and task
                management at the fingertips of employees and managers. HRMS has helped to effectively break down bureaucracy
                and “flatten” many organizations.
            </h4>
</td>
        <td style="padding-left:50px;">
            <img src="~/Images/Human-Resource-Management-System.png" width="400" />
        </td>
</tr>
</table>