@model HRMS.ViewModel.BenefitViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="../../html/assets/libs/jquery/dist/jquery.min.js"></script>
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-6">

                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Benefit_ID)

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Benefit Type Details</h4>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Benefit_Type, new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Benefit_Type, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Benefit_Type, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="border-top">
                            <div class="card-body">
                                <button type="submit" class="btn btn-success">Save</button>
                                <button type="submit" class="btn btn-primary">Reset</button>
                                <a href="~/Benefit/Index" class="btn btn-danger"> Cancel </a>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        }

    </div>
</div>

